* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(19, 19, 19);
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0;
    font-weight: normal;
}

ul, li {
    list-style: none;
}